#search-section {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-section .website-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}