<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    .prod_block {
      margin-bottom: 30px;
    }

    .prod_block .title {
      color: red;
    }

    .prod_block .price {
      color: blue;
    }
  </style>
</head>
<body>
  {% for prod in prod_list %}
    <div class="prod_block">
      <p class="title">商品名稱：{{ prod.name }}</p>
      <p class="price">商品價格：{{ prod.prod_price }}</p>
    </div>
  {% endfor %}
</body>
</html>